<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple VS Smart calculator</title>
    <link rel="shortcut icon" href="../assets/img/calculator.png" type="image/x-icon">

    <link rel="stylesheet" href="../assets/css/bootstrap.min.css" >
    <link rel="stylesheet" href="../assets/css/style.css" >
</head>
<body>
    
    
    <main class="mt-5 mb-5">
        
        <div class="container">
            
            <div class="row">
                
                <div class="col">
                    <h1>Peter Koncz</h1>
                    <h2>Simple vs Smart calculator</h2>
                    <h3>Make tokenizer for the operations</h3>
                </div>

            </div>
            <p class="mt-2 mb-3">The simple version made in C++, and the smart solution made by Bison And Flex.</p>
            <hr class="titleseparator">
        </div>


        
        <div class="container">
            
            <h2>Simple solution</h2>
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-maincpp-tab" data-toggle="tab" href="#nav-maincpp" role="tab" aria-controls="nav-maincpp" aria-selected="true">main.cpp</a>
                    <a class="nav-item nav-link" id="nav-Tokenizerh-tab" data-toggle="tab" href="#nav-Tokenizerh" role="tab" aria-controls="nav-Tokenizerh" aria-selected="false">Tokenizer.h</a>
                    <a class="nav-item nav-link" id="nav-Tokeinzercpp-tab" data-toggle="tab" href="#nav-Tokeinzercpp" role="tab" aria-controls="nav-Tokeinzercpp" aria-selected="false">Tokeinzer.cpp</a>
                    <a class="nav-item nav-link" id="nav-Makefile-tab" data-toggle="tab" href="#nav-Makefile" role="tab" aria-controls="nav-Makefile" aria-selected="false">Makefile</a>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-maincpp" role="tabpanel" aria-labelledby="nav-maincpp-tab">
                    <pre  class="border border-2 border-dark p-2"><code>
    #include &lt;iostream&gt;
    #include &lt;cctype&gt;
    #include &lt;map&gt;
    #include &lt;string&gt;
    #include &lt;stdexcept&gt;
    #include &lt;stack&gt;
    #include &lt;cstdlib&gt;

    #include "Tokenizer.h"

    using namespace std;


    int main()
    {

        Tokenizer tz("(2+3)");
        Token t;
        while(tz.getNext(t))
        {
            cout << t.value<< endl;
        }

        cout << "exit" << endl;
        return 0;
    }
                    </code></pre>
                </div>
                <div class="tab-pane fade" id="nav-Tokenizerh" role="tabpanel" aria-labelledby="nav-Tokenizerh-tab">
                    <pre  class="border border-2 border-dark p-2"><code>
    #include "Tokenizer.h"

    void Tokenizer::skipWhitespace()
    {
        while(current_ != input_.end() && isspace(*current_))
        {
            ++current_;
        }
    
    }
    
    Tokenizer::Tokenizer(const string &input):input_(input), current_(input_.begin())
    {
        skipWhitespace();
    }
    
    bool Tokenizer::getNext(Token &token)
    {
        token.value.clear();
        if(current_ == input_.end()) return false;
    
        if(*current_ =='(')
        {
            token.type = Openp;
            ++current_;
        }
        else if(*current_ == ')')
        {
            token.type = Closep;
            ++current_;
        }
        else if(*current_ == '+' || *current_ == '-' || *current_ == '*' || *current_ == '/' || *current_ == '^')
        {
            token.type = Operat;
            token.value.push_back(*current_);
            ++current_;
        }
        else if(isdigit(*current_))
        {
            token.type = Const;
            while(current_ != input_.end() && isdigit(*current_))
            {
                token.value.push_back(*current_);
                ++current_;
            }
        }
        else if(isalpha(*current_))
        {
            token.type = Var;
            while(current_ != input_.end() && isalpha(*current_))
            {
                token.value.push_back(*current_);
            ++current_;
            }
        }
        skipWhitespace();
        return true;
    }
                        
                    </code></pre>
                </div>
                <div class="tab-pane fade" id="nav-Tokeinzercpp" role="tabpanel" aria-labelledby="nav-Tokeinzercpp-tab">
                    <pre  class="border border-2 border-dark p-2"><code>
    #ifndef TOKENIZER_H
    #define TOKENIZER_H

    #include &lt;iostream&gt;
    #include &lt;cctype&gt;
    #include &lt;map&gt;
    #include &lt;string&gt;

    using namespace std;

    enum TokenType{
        Const,
        Operat,
        Openp,
        Closep,
        Var
    };

    struct Token{
        string value;
        TokenType type;
    };

    class Tokenizer
    {
        public:
            Tokenizer(const string &input);
            bool getNext(Token &token);
        private:
            string input_;
            string::iterator current_;
            void skipWhitespace();
    };

    #endif // TOKENIZER_H

                    </code></pre>
                </div>
                <div class="tab-pane fade" id="nav-Makefile" role="tabpanel" aria-labelledby="nav-Makefile-tab">
                    <pre  class="border border-2 border-dark p-2"><code>
    calc: *.cpp *.h
        g++ -std=c++11 *.cpp -o calc
                    </code></pre>
                </div>
            </div>
            
            <hr class="bodyelementseparator">
        </div>


        <div class="container">
            
            <h2>Smart solution</h2>
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-smartfile1-tab" data-toggle="tab" href="#nav-smartfile1" role="tab" aria-controls="nav-smartfile1" aria-selected="true">smartFile1</a>
                    <a class="nav-item nav-link" id="nav-smartfile2-tab" data-toggle="tab" href="#nav-smartfile2" role="tab" aria-controls="nav-smartfile2" aria-selected="false">smartFile2</a>
                    <a class="nav-item nav-link" id="nav-smartfile3-tab" data-toggle="tab" href="#nav-smartfile3" role="tab" aria-controls="nav-smartfile3" aria-selected="false">smartfile3</a>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-smartfile1" role="tabpanel" aria-labelledby="nav-smartfile1-tab">
                    <pre  class="border border-2 border-dark p-2"><code>{% include codes/v1/simple/main.cpp %}</code></pre>
                </div>
                <div class="tab-pane fade" id="nav-smartfile2" role="tabpanel" aria-labelledby="nav-smartfile2-tab">
                    <pre  class="border border-2 border-dark p-2"><code>{% include codes/v1/simple/main.cpp %}</code></pre>
                </div>
                <div class="tab-pane fade" id="nav-smartfile3" role="tabpanel" aria-labelledby="nav-smartfile3-tab">
                    <pre  class="border border-2 border-dark p-2"><code>{% include codes/v1/simple/main.cpp %}</code></pre>
                </div>
            </div>
            
            <hr class="bodyelementseparator">
        </div>

    </main>


    <script src="../assets/js/jquery-3.3.1.min.js" ></script>
    <script src="../assets/js/popper.min.js" ></script>
    <script src="../assets/js/bootstrap.min.js" ></script>
    
    <script src="../assets/js/app.js" ></script>

</body>
</html>

<!-- Designed by KoPe -->

<!-- Photos from: https://www.pexels.com && https://pixabay.com-->